/*Group 8: Kyra O'Connor, Calum Cleary, Caoimhe O'Sullivan, Matthew Brink*/

/*General Styles*/
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

header{
    background-color: #B00000;
    width: 1282px;
    height: 80px;
    display: block;
    position: fixed;
    margin-top: -10px;
    margin-left: -10px;
    z-index: -10;
}

#burger_menu{
    position: relative;
    background-image: url(Symbols/burger-menu-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    display: block;
    border: none;
    width: 70px;
    height: 70px;
    z-index: 500;
    margin-top: 10px;
    margin-left: 25px;
}

#profile_button_header{
    position: relative;
    background-image: url(Symbols/profile_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    display: block;
    border: none;
    width: 70px;
    height: 70px;
    z-index: 500;
  margin-top: -75px;
  margin-left: 1170px;
}

#sidebar {
    background-color: #322f35;
    width: 300px;
    height: 650px;
    margin-top: -25px;
    margin-left: 500px;
    display: block;
    position: relative;
}